<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <!-- add links to play rock/paper/scissors here-->
    <p><a href= "/rock">Play Rock</a></p>
    <p><a href= "/paper">Play Paper</a></p>
    <p><a href= "/scissors">Play Scissors</a></p>
    
    <%= yield %>

  </body>
</html>
